<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Cuaderno Alumnos</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-controller="AlumnosController">

	<h1>Cuaderno de Alumnos</h1>
	<div class="wrapper">
		<div class="contact-item" ng-repeat="alumno in alumnos | orderBy:'nombre'">
			<div class="nombre"> {{alumno.nombre}} - {{alumno.telefono}} </div>
			<span class="curso">{{alumno.curso}} </span>
		</div>
	</div>
	<br/>
	<center> <button ng-click="ShowForm()" ng-hide="formVisibility">Añadir Contacto</button> </center>
	<div ng-show="formVisibility" class="wrapper">
		<h2>Añadir un Contacto</h2>
		<center>
			<span>
			Nombre: <input type="text" ng-model="nuevoAlumno.nombre"></input>
			</span>
		</center>

		<center>
			<span>
			Telefono: <input type="text" ng-model="nuevoAlumno.telefono"></input>
			</span>
		</center>
		
		<center>
			<span>
			Curso: <input type="text" ng-model="nuevoAlumno.curso"></input>
			</span>
		</center>
	
		<button ng-click="Save()">Guardar</button>
	</div>



	<script src="script1.js" type="text/javascript"></script>﻿
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>


</body>
</html>