body{
	background: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

h1{
	color: #444;
	text-align: center;
	text-shadow: 0px 2px 0px #fff;
}

h2{
	color: #222;
	text-align: center;
}

.nombre{
	font-size: 18px;
}

.curso{
	font-size: 13px;
	font-style: italic;
}

.wrapper{
	background: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #555;
	margin: 0 auto;
	padding: 10px;
	width: 650px;
}

.contact-item{
	border-bottom: thin solid #ccc;
	padding: 10px;
}

/*Formulario*/

button{
	background: #080;
	border: thin solid #060;
	border-radius: 5px;
	color: #fff;
	margin: 5px auto;
	padding: 5px 15px;
}

button:hover{
	background: #0A0;
}

span{
	color: #444;
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

input{
	border: thin solid #D5D5D5;
	width: 300px;
}